body {
  text-align: center;
  background-image: url("../img/city-bg.jpg");
  background-size: cover;
  background-position: center;
}

/* --- Side Bar Navigation --- */
aside {
  /* position: fixed; */
  /* left: 1rem;
  bottom: 10rem; */
  float: left;
  background-color: orange;
  font: 1.5rem sans-serif;
  text-align: left;
}

ul {
  list-style: none;
}

/* --- Header Section --- */
header {
  /* background-color: grey; */
  /* color: white; */
  padding: 10px;
}

h1 {
  font-size: 2rem;
  margin: 1rem;
}


/* --- Navigation Bar --- */

nav {
  margin: 0 1rem;
}

nav .nav-tab {
  display: inline-block;
  margin: 0.5rem 1rem;
}

nav a img {
  height: 2rem;
  margin: auto 0.5rem;
}

th, td {
  border: 1px solid;
}

.gallery img {
  /* width: 20%; */
  height: 10em;
  margin: auto 10px;
}

.logo {
  height: 4rem;
  position: relative;
  top: 1rem;
}

.logo-line {
  margin-bottom: 20px;
}

.logo-line * {
  display: inline;
}

.picture-box {
  display: inline-block;
  position: relative;
}

.caption {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-color: rgba(128, 128, 128, .6);
  padding-right: 0.8rem;
  margin: 0;
}

/* --- Form Section --- */
form {
  text-align: left;
  background-color: rgba(47, 79, 79, 0.1);
  width: 50%;
  margin: 2% auto;
  padding: 3%;
}

form label {
  margin-right: 10px;
}

.form-check {
  display: inline;
  margin-right: 15px;
}

.form-btns{
  text-align: center;
}

.form-btn {
  margin: 15px;
}


.form-group {
  position: relative;
}

.input-hint-hidden {
  display: none;
}

.input-hint-show {
  display: inline;
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  margin: 0 15px;
  color: grey;
}

input:focus::-webkit-input-placeholder { color:transparent; }


/* --- Tables --- */
.table {
    width: 50%;
    margin: 1rem auto;
}

td img{
  width: 100%;
  border: 2px solid white;
}
